@import url('https://fonts.googleapis.com/css?family=Lato');

/*
  Basics
*/
body {
	background-color: var(--black);
  color: var(--white);
	line-height: 1.4;
}
body, input, button, textarea {
	font-family: 'Scala', sans-serif;
	font-size: 20px;
}
p {
	margin: 0 0 0.9em 0;
}
p.last {
	margin: 0;
}
a {
	color: var(--text-color);
}
a.img-link {
  text-decoration: none;
  border: none;
}
b, strong {
  font-weight: 700;
}
i, em {
	font-style: italic;
}


/*
  Titles
*/
.title-xl,
.title-lg,
.title-md,
.title-sm,
.title-xs {
	/*font-family: 'ScalaSC', sans-serif;*/
	/*font-family: 'Helvetica Nueue', Helvetica, sans-serif;*/
	font-family: 'Lato', sans-serif;
	color: var(--blue);
  margin-bottom: 0.1em;
	line-height: 1.1;
	font-weight: 700;
}
.title-xl { font-size: 10em; }
.title-lg { font-size: 3em; }
.title-md { font-size: 1.4em; }
.title-sm { font-size: 1em; }
.title-xs { font-size: 0.9em; }
.content {
	.title-xl,
	.title-lg,
	.title-md,
	.title-sm,
	.title-xs {
		margin: 1em 0 0 0;
	}

}


/*
	Small screens
*/
@media (--viewport-xs-only) {
	body { font-size: 18px; }
	/*.title-xl { font-size: 5em; }
	.title-lg { font-size: 1.8em; }
	.title-md { font-size: 1.2em; }*/
}


/*
	Font
*/
@font-face {
  font-family:'Scala';
  src: url('/assets/font/ScalaSansComp.woff') format('woff');
	font-weight: normal;
}
@font-face {
  font-family:'ScalaBold';
  src: url('/assets/font/ScalaSansComp-Bold.woff') format('woff');
	font-weight: bold;
}
@font-face {
  font-family:'ScalaSC';
  src: url('/assets/font/ScalaSansScComp.woff') format('woff');
	font-weight: bold;
}
